data/phrases.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:RAG.Phrases"
           xmlns="urn:RAG.Phrases"
           elementFormDefault="qualified">

<xs:complexType name="phraseset">
  <xs:attribute name="id" type="xs:string" />
</xs:complexType>

<!-- Root tag -->
<xs:element name="messages">
  <xs:complexType>
    <xs:all>
      <xs:element name="phraseset" type="phraseset"/>
    </xs:all>
  </xs:complexType>
</xs:element>

</xs:schema>